.bg-primary {
  background-color: black !important;
}

.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
  list-style-type: none !important;
}
