{% extends 'dashboard_template.html' %}

{% block dashboard_content %}
                    <div class="container-fluid">
                        <h1 class="mt-4">Hello {{ current_user.name }}</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Manage your reservations
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>StudyRoom</th>
                                                <th>Address</th>
                                                <th>Day</th>
                                                <th>Time</th>
                                                <th>Contacts</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for reservation, list in informations.items(): %}
                                                <tr>
                                                    <td><a href="{{url_for('studyrooms.view_availability', id=list[1].id )}}">{{ list[1].name }}</a></td>
                                                    <td>{{ list[1].city }}, {{ list[1].address }}</td>
                                                    <td>{{ list[0].date }}</td>
                                                    {% if list[0].morning: %}
                                                        <td>{{ list[1].open_morning.strftime('%H:%M') }}-{{ list[1].close_morning.strftime('%H:%M') }}</td>
                                                    {% else: %}
                                                        <td>{{ list[1].open_evening.strftime('%H:%M') }}-{{ list[1].close_evening.strftime('%H:%M') }}</td>
                                                    {% endif %}
                                                    <td>{{ list[1].phone_num}}, {{ list[1].mail_contact }}</td>
                                                    <td><a href="{{ url_for('studyrooms.delete_reservation', reservation_id=reservation.id , slot_id=list[0].id ) }}" class="btn btn-primary">Delete Reservation</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card mb-12">
                                    <div class="card-header">
                                        Your Information
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li>Name: {{ current_user.name}}</li>
                                            <li>Surname: {{ current_user.surname}}</li>
                                            <li>Email: {{ current_user.email}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock dashboard_content %}
