{% extends 'dashboard_template.html' %}

{% block dashboard_content %}
                    <div class="container-fluid">
                        <h1 class="mt-4">Hello {{ current_user.name }}</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Manage your reservations
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>StudyRoom</th>
                                                <th>Address</th>
                                                <th>Day</th>
                                                <th>Time</th>
                                                <th>Contacts</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- TODO implementa logica di riempimento tabella -->
                                            {% for slot, studyroom in informations.items(): %}
                                                <tr>
                                                    <td>{{ studyroom.name }}</td>
                                                    <td>{{ studyroom.city }}, {{ studyroom.address }}</td>
                                                    <td>{{ slot.date }}</td>
                                                    {% if slot.morning: %}
                                                        <td>{{ studyroom.open_morning }}-{{ studyroom.close_morning }}</td>
                                                    {% else: %}
                                                        <td>{{ studyroom.open_evening }}-{{ studyroom.close_evening }}</td>
                                                    {% endif %}
                                                    <td>{{ studyroom.phone_num}}, {{ studyroom.mail_contact }}</td>
                                                    <td>Bottone</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card mb-12">
                                    <div class="card-header">
                                        Your Information
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li>Name: {{ current_user.name}}</li>
                                            <li>Surname: {{ current_user.surname}}</li>
                                            <li>Email: {{ current_user.email}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock dashboard_content %}
