{% extends 'base_template.html' %}
    <!-- Inserire campi del form di python nel form già presente qua sotto, diventeranno responsive e controllabili-->
{% block pagecontent %}
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <form method="post">
                                            {{ form.hidden_tag() }}
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputFirstName">{{form.firstName.label}}</label>
                                                        {{form.firstName(class='form-control py-4')}}
                                                        {% for error in form.firstName.errors %}
                                                             <div class="alert alert-danger" role="alert">
                                                                {{ error }}
                                                                 <!--Check if errors works-->
                                                            </div>
                                                        {% endfor  %}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputLastName">{{form.lastName.label}}</label>
                                                        {{form.lastName(class='form-control py-4')}}
                                                        {% for error in form.lastName.errors %}
                                                             <div class="alert alert-danger" role="alert">
                                                                {{ error }}
                                                                 <!--Check if errors works-->
                                                            </div>
                                                        {% endfor  %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">{{form.email.label}}</label>
                                                {{form.email(class='form-control py-4')}}
                                                        {% for error in form.email.errors %}
                                                             <div class="alert alert-danger" role="alert">
                                                                {{ error }}
                                                                 <!--Check if errors works-->
                                                            </div>
                                                        {% endfor  %}
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputPassword">{{form.password.label}}</label>
                                                        {{form.password(class='form-control py-4')}}
                                                        {% for error in form.password.errors %}
                                                             <div class="alert alert-danger" role="alert">
                                                                {{ error }}
                                                                 <!--Check if errors works-->
                                                            </div>
                                                        {% endfor  %}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputConfirmPassword">{{form.confirmPassword.label}}</label>
                                                        {{form.confirmPassword(class='form-control py-4')}}
                                                        {% for error in form.confirmPassword.errors %}
                                                             <div class="alert alert-danger" role="alert">
                                                                {{ error }}
                                                                 <!--Check if errors works-->
                                                            </div>
                                                        {% endfor  %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Sistemare esteticamente-->
                                            <div class="form-group mt-4 mb-0">{{form.user_or_owner.label}} {{ form.user_or_owner }}</div>
                                            <div class="form-group mt-4 mb-0">{{form.accept_terms}} {{ form.accept_terms.label }}</div>

                                            <div class="form-group mt-4 mb-0">{{ form.submit(class='btn btn-primary btn-block') }}</div>

                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="login.html">Have an account? Go to login</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Quick Study Room 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
{% endblock pagecontent %}
