{% extends 'dashboard_template.html' %}

{% block dashboard_content %}
                    <div class="container-fluid">
                        <h1 class="mt-4"> Book A Seat in {{ studyroom.name }}</h1>
                            {% with messages = get_flashed_messages(category_filter=['error']) %}
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-calendar-check"></i>
                                        Availability
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>{{ studyroom.open_morning.strftime('%H:%M') }}-{{ studyroom.close_morning.strftime('%H:%M') }}</th>
                                                        <th>Book seat in morning</th>
                                                        <th>{{ studyroom.open_evening.strftime('%H:%M') }}-{{ studyroom.close_evening.strftime('%H:%M') }}</th>
                                                        <th>Book seat in evening</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in range(0,slots|length,2) %}
                                                    <tr>
                                                        <td>{{ slots[i].date }}</td>
                                                        <td>Available seats: {{ slots[i].available_seats }}</td>
                                                        {% if slots[i].available_seats<=0: %}
                                                            <td><a href="#" class="btn btn-primary">Book a seat</a></td>
                                                        {% else: %}
                                                            <td><a href="{{ url_for('studyrooms.book_studyroom', slot_id=slots[i].id) }}" class="btn btn-primary">Book a seat</a></td>
                                                        {% endif %}
                                                        <td>Available seats: {{ slots[i+1].available_seats }}</td>
                                                        {% if slots[i+1].available_seats<=0: %}
                                                            <td><a href="#" class="btn btn-primary">Book a seat</a></td>
                                                        {% else: %}
                                                            <td><a href="{{ url_for('studyrooms.book_studyroom', slot_id=slots[i+1].id) }}" class="btn btn-primary">Book a seat</a></td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-camera"></i>
                                        {{ studyroom.name }} photo's
                                    </div>
                                    <div class="card-body">
                                        <div class="album py-5 bg-light">
                                            <div class="container">
                                                <div class="row">
                                                    {% for file in fileList %}
                                                    <div class="col-md-4">
                                                        <div class="card mb-4 shadow-sm">
                                                            <img class='upload-img' src='{{ url_for("static",filename="images/"+file) }}' alt="Study Room's image">
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-info-circle"></i>
                                        {{ studyroom.name }} informations
                                    </div>
                                    <div class="card-body">
                                        <p><strong>Name:</strong> {{ studyroom.name }}, <strong>Totals seats available:</strong> {{ studyroom.seats}}</p>
                                        <p><strong>Contacts:</strong> {{ studyroom.phone_num}} (phone number), {{ studyroom.mail_contact}} (mail)</p>
                                        <p><strong>Address:</strong> {{ studyroom.nation }}, {{ studyroom.city }}, {{ studyroom.address }}, {{ studyroom.postal_code }}</p>
                                        <p><strong>Morning:</strong> {{ studyroom.open_morning.strftime('%H:%M') }}-{{ studyroom.close_morning.strftime('%H:%M') }}
                                            <strong>Evening:</strong> {{ studyroom.open_evening.strftime('%H:%M') }}-{{ studyroom.close_evening.strftime('%H:%M') }}</p>
                                        <p><strong>Services offered:</strong> {% if studyroom.toilette: %} Toilette {% endif %}
                                                             {% if studyroom.vending_machines: %} Vending Machines {% endif %}
                                                             {% if studyroom.electrical_outlets: %} Electrical Outlets {% endif %}
                                                             {% if studyroom.wi_fi: %} Wi-Fi {% endif %}
                                                             {% if studyroom.printers: %} Toilette {% endif %}
                                        </p>
                                        {% if studyroom.others|length>0: %}<p><strong>Other services:</strong> {{ studyroom.others }}</p>{% endif %}
                                        <p><strong>Price:</strong> {{ studyroom.price }} €</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock dashboard_content %}
